@{
    ViewBag.Title = "KQTimKiem";
}

@using Ictshop.Models
@model List<Sanpham>
<br />

<h3>Các sản phẩm tìm thấy </h3>

<br />

@if (Model != null && Model.Any())
{
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-3 col-sm-6">
                <a href="@Url.Action("xemchitiet", new { @Masp = item.Masp })">
                    <img src="@Url.Content("~" + item.Anhbia)" class="img-responsive" alt="@item.Tensp" width="400" height="400" />
                </a>
                <div class="text-center">
                    <h3>@item.Tensp</h3>
                    <h3 style="color:red">Giá: @String.Format("{0:0,0}", item.Giatien) VND</h3>
                    <h4 style="color:red"> <del> @String.Format("{0:0,0}", @item.Giabandau) VND </del> (-10%) </h4>
                </div>
            </div>
        }
    </div>
}
else
{
    <p>Không có kết quả tìm kiếm.</p>

}


